@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

body {
  text-align: right;
  font-family: "IRANSans";
  font-size: 100%;
  direction: rtl;
}

header.header {
  width: 100%;
  font-family: "IRANSans";
}

header.header div.top-header {
  width: 100%;
  height: 40px;
  background-color: #2c2b31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

header.header div.top-header div.top-header-right {
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: .5rem;
}

header.header div.top-header div.top-header-right div.top-header-right-links {
  display: flex;
  justify-content: space-between;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link {
  color: #918ea0;
  text-decoration: none;
  font-size: 90%;
  cursor: pointer;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left {
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: .5rem;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
  font-size: 95%;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:hover {
  color: #ff8800;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left div.top-header-left-btn span {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  padding: 0 1rem;
  background-color: #fff;
  height: 50px;
}

header.header div.navbar div.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

header.header div.navbar div.navbar-right .hamburger-menu {
  margin-top: 6px;
  position: absolute;
  top: -4px;
  left: 1rem;
  z-index: 100;
  cursor: pointer;
  display: none;
}

header.header div.navbar div.navbar-right .hamburger-menu .navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-1 {
  transform: rotate(40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-2 {
  opacity: 0;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-3 {
  transform: rotate(-40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar div.navbar-right .hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 4px;
  transition: transform .5s;
}

header.header div.navbar div.navbar-right .hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  transition: all .3s .3s;
  transform-origin: left;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item {
  width: max-content;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 {
  margin-top: 0;
  max-width: 13.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 1px;
  text-align: right;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(90deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: -1px;
  right: 13.85rem;
  width: 13.9rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 .fa {
  transition: .3s transform ease-in-out;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item {
  text-align: right;
  transition: .3s;
  font-size: 90%;
  color: #000;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item i.jet-dropdown-arrow {
  padding-right: 1px;
  position: relative;
  bottom: -2px;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 {
  display: none;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:active {
  background-color: rgba(224, 224, 224, 0.7);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link {
  padding: .6rem;
  padding-bottom: .45rem;
  cursor: pointer;
  outline: 0;
  font-size: 90%;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link i.fa-home {
  font-size: 1.2rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown {
  width: max-content;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(0deg);
  position: relative;
  top: 2px;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
  top: 45px;
  text-align: right;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item {
  outline: 0;
  position: relative;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item {
  padding: 0;
  outline: 0;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown a.nav-link {
  padding-top: .8rem;
  padding-bottom: .7rem;
  cursor: pointer;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(180deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show li.list-item.dropdown ul#sub-menu-1 {
  display: none;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav .fa {
  transition: .3s transform ease-in-out;
}

header.header div.navbar div.navbar-right div.collapse img.logo {
  width: 65px;
  height: 100%;
  order: 1;
}

header.header div.navbar div.navbar-left img.logo {
  width: 65px;
  height: 100%;
}
/*# sourceMappingURL=home.css.map */