@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

body {
  text-align: right;
  font-family: "IRANSans";
  font-size: 100%;
  direction: rtl;
}

header.header {
  width: 100%;
  font-family: "IRANSans";
}

header.header div.top-header {
  width: 100%;
  height: 40px;
  background-color: #2c2b31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

header.header div.top-header div.top-header-right {
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: .5rem;
}

header.header div.top-header div.top-header-right div.top-header-right-links {
  display: flex;
  justify-content: space-between;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link {
  color: #918ea0;
  text-decoration: none;
  font-size: 90%;
  cursor: pointer;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left {
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: .5rem;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
  font-size: 95%;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:hover {
  color: #ff8800;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left div.top-header-left-btn span {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 95%;
  padding: 0 1rem;
  background-color: #fff;
  height: 55px;
}

@media (max-width: 991px) {
  header.header div.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
  }
}

@media (max-width: 405px) {
  header.header div.navbar {
    width: 100%;
  }
}

header.header div.navbar-right {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
}

header.header div.navbar-right .hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 100;
  cursor: pointer;
}

@media (min-width: 992px) {
  header.header div.navbar-right .hamburger-menu {
    display: none;
  }
}

header.header div.navbar-right .hamburger-menu .navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
}

header.header div.navbar-right .hamburger-menu .change .menu-line-1 {
  transform: rotate(40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar-right .hamburger-menu .change .menu-line-2 {
  opacity: 0;
}

header.header div.navbar-right .hamburger-menu .change .menu-line-3 {
  transform: rotate(-40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar-right .hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform .5s;
}

header.header div.navbar-right .hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #000000;
  transition: all .3s .3s;
  transform-origin: left;
}

@media (max-width: 1199px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-end {
    display: none;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item {
  display: flex;
  justify-content: flex-start;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 {
  margin-top: 0;
  max-width: 13.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 1px;
  text-align: right;
}

@media (max-width: 992px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 {
    position: absolute;
    top: 0px;
    right: 6.4rem;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(90deg);
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: -1px;
  right: 13.85rem;
  width: 13.9rem;
}

@media (max-width: 1027px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 95%;
    width: 11rem;
    right: 10.88rem;
  }
}

@media (max-width: 991px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 90%;
    width: 10rem;
    right: 10.85rem;
  }
}

@media (max-width: 485px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
    font-size: 85%;
    width: 9.5rem;
    right: 9.82rem;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 .fa {
  transition: .3s transform ease-in-out;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item {
  text-align: right;
  transition: .3s;
  font-size: 90%;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #ff6600;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item i.jet-dropdown-arrow {
  padding-right: 1px;
  position: relative;
  bottom: -2px;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 {
  display: none;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:active {
  background-color: rgba(224, 224, 224, 0.7);
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #000000;
  padding: .8rem .9rem;
  padding-bottom: .45rem;
  cursor: pointer;
  outline: 0;
  font-size: 90%;
}

@media (max-width: 1140px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link {
    padding: .7rem .5rem;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link i.fa-home {
  font-size: 1.2rem;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item a.nav-link i.fa-home:hover {
  color: #ff6600;
}

@media (max-width: 991px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item {
    border-left: 0px;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item:hover > a {
    color: #000000;
    background-color: transparent;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(0deg);
  position: relative;
  top: 2px;
}

@media (max-width: 991px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown i.jet-dropdown-arrow {
    transform: rotate(0deg);
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown:hover > a {
    background-color: transparent;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
  top: 45px;
  text-align: right;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item {
  outline: 0;
  position: relative;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #ff6600;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item {
  padding: 0;
  outline: 0;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

@media (max-width: 1027px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    width: 11rem;
    position: absolute;
  }
}

@media (max-width: 991px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    font-size: 93%;
    position: static;
    float: none;
    top: 0px;
    right: 6.9rem;
    width: 11rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#monitor {
    top: .7rem;
    right: 5.3rem;
    width: 10rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#users {
    top: .7rem;
    right: 4rem;
    width: 10rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#charts {
    top: .7rem;
    right: 4.4rem;
    width: 10rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#reports {
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#tel {
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#sub-menu-0 {
    top: .7rem;
    position: static;
    float: none;
  }
}

@media (max-width: 485px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    position: static;
    float: none;
    top: .7rem;
    right: 4.9rem;
    width: 10rem;
    font-size: 85%;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#monitor {
    top: .7rem;
    right: 5.3rem;
    width: 10rem;
    font-size: 85%;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#users {
    top: .7rem;
    right: 4rem;
    width: 10rem;
    font-size: 85%;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#charts {
    top: .7rem;
    right: 4.4rem;
    width: 10rem;
    font-size: 85%;
  }
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown ul#sub-menu-0 {
    top: .7rem;
    position: static;
    float: none;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown a.nav-link {
  color: #000000;
  padding-top: .8rem;
  padding-bottom: .7rem;
  cursor: pointer;
  text-align: right;
  width: max-content;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.nav-end a.nav-link {
  padding-bottom: .7rem;
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show a.nav-link {
    font-size: 90%;
  }
}

header.header div.navbar-right div.collapse ul.navbar-nav li.nav-item.dropdown.show li.list-item.dropdown ul#sub-menu-1 {
  display: none;
}

header.header div.navbar-right div.collapse ul.navbar-nav .fa {
  transition: .3s transform ease-in-out;
}

@media (max-width: 991px) {
  header.header div.navbar-right div.collapse ul.navbar-nav {
    position: relative;
    right: -1.5rem;
  }
}

header.header div.navbar-left {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.header div.navbar-left img.logo {
  width: 75px;
  height: 100%;
}

@media (max-width: 991px) {
  header.header div.navbar-left {
    display: none;
  }
}

section.contents {
  width: 100%;
  font-family: "IRANSans";
}

section.contents section.section-1.main-content.container-fluid {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

section.contents section.section-1.main-content.container-fluid div.section-title {
  background-color: rgba(224, 224, 224, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

section.contents section.section-1.main-content.container-fluid div.section-title h1.h3 {
  font-size: 2.6rem;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

section.contents section.section-1.main-content.container-fluid div.section-title h4.text-muted.lead {
  font-size: 85%;
}

section.contents section.section-1.main-content.container-fluid div.card {
  width: 100%;
  height: 60vh;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer {
  width: 100%;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item {
  transform: scale(0.8);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 80%;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item img.image-slide {
  width: 100%;
  height: 100%;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.center {
  transform: scale(1);
  box-shadow: 0px 9px 32px 9px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin: 0;
  height: 80%;
  z-index: 10;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.center img.image-slide {
  width: 100%;
  height: 100%;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots {
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -1rem;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot {
  background: #e7d9eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin: 0 8px;
  outline: none;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot:hover {
  background: #ff6600;
}

section.contents section.section-1.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot.active {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  background: #ff6600;
}

section.contents section.section-2 {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme {
  width: 100%;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item {
  width: 100% !important;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video {
  display: flex;
  width: 100%;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video span.text-video {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  font-size: 95%;
  text-align: justify;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video div.ckin__player.default.ckin__overlay {
  width: 45%;
  background: #faf6fb;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video div.ckin__player.default.ckin__overlay::before, section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video div.ckin__player.default.ckin__overlay::after {
  background: white;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8px;
  top: 80%;
  width: 50%;
  max-width: 300px;
  box-shadow: 0 12px 10px 0.2rem rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-stage-outer div.owl-stage div.owl-item div.slide-video div.ckin__player.default.ckin__overlay::after {
  transform: rotate(3deg);
  right: 8px;
  left: auto;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav {
  width: 5%;
  z-index: 10;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-prev {
  color: #2c2b31;
  position: absolute;
  top: 50%;
  left: 2%;
  border: none;
  border-color: transparent;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-prev:focus, section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-prev:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-prev i.fa.fa-angle-left {
  font-size: 36px;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-next {
  color: #2c2b31;
  position: absolute;
  top: 50%;
  right: 2%;
  border: none;
  border-color: transparent;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-next:focus, section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-next:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-next i.fa.fa-angle-right {
  font-size: 36px;
}

section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-next.disabled,
section.contents section.section-2 div.video-gallery.owl-carousel.owl-theme div.owl-nav button.owl-prev.disabled {
  opacity: .4;
}

section.contents section.section-3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.7) 100%, transparent), url("./../../img/counter-bg-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters div.partition {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

section.contents section.section-3 div.counters div.partition div.milestone_col {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone {
  width: 100%;
}

section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon {
  display: inline-block;
  height: 81px;
  width: 81px;
}

section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon img {
  width: 100%;
  height: 100%;
}

section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_counter {
  font-size: 200%;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.75;
  margin-top: 2rem;
}

section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_text {
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 1.5rem;
  line-height: 0.75;
}

section.contents section.section-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3rem;
  padding-bottom: 0;
}

section.contents section.section-4 div.hesder-courses {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(145, 142, 160, 0.5);
  padding-bottom: 1rem;
}

section.contents section.section-4 div.hesder-courses span.title-section {
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 1.2rem;
}

section.contents section.section-4 div.hesder-courses button.allview {
  color: white;
  border: 1px solid rgba(145, 142, 160, 0.5);
  background-color: #918ea0;
  border-radius: 28px;
  font-size: 75%;
}

section.contents section.section-4 div.hesder-courses button.allview:focus, section.contents section.section-4 div.hesder-courses button.allview:hover {
  box-shadow: 0px 0px 6px 2px rgba(145, 142, 160, 0.5);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
  width: 100%;
  height: 100%;
  margin: 0;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course {
  margin: 1rem;
  min-height: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course:hover > div.card-body > div.parents-elem > h5.card-title,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course:hover > div.card-body > div.parents-elem > h5.card-title,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course:hover > div.card-body > div.parents-elem > h5.card-title {
  color: #fdc632;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course:hover > div.card-body > div.parents-elem > div.Capacity,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course:hover > div.card-body > div.parents-elem > div.Capacity,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course:hover > div.card-body > div.parents-elem > div.Capacity {
  background-color: #002347;
  color: #fdc632;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course:hover > img.card-img-top.image-card-slider,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course:hover > img.card-img-top.image-card-slider,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course:hover > img.card-img-top.image-card-slider {
  transform: scale(1.1);
  transition: all .3s linear;
  opacity: 1;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course img.card-img-top.image-card-slider,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course img.card-img-top.image-card-slider,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course img.card-img-top.image-card-slider {
  width: 100%;
  height: 180px;
  opacity: .8;
  transform: scale(1);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.Capacity,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.Capacity,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.Capacity {
  background-color: #fdc632;
  color: #002347;
  width: max-content;
  border-radius: 28px;
  position: relative;
  top: -17%;
  right: -35%;
  padding: .7rem .7rem;
  font-size: 75%;
  font-weight: bold;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.Capacity:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.Capacity:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.Capacity:hover {
  background-color: #fdc632;
  color: #002347;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem h5.card-title,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem h5.card-title,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem h5.card-title {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #002347;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn {
  width: 40%;
  font-size: 90%;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register {
  border: 1px solid #fdc632;
  margin-left: 1rem;
  color: white;
  background-color: #fdc632;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:focus, section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:focus,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:focus,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.register:hover {
  box-shadow: 0px 0px 6px 2px rgba(255, 174, 0, 0.5);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view {
  color: white;
  border: 1px solid rgba(0, 35, 71, 0.5);
  background-color: #002347;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:focus, section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:focus,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:hover,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:focus,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.card-body div.parents-elem div.buttons-card button.btn.view:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 35, 71, 0.5);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.teacher svg,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.teacher svg,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.teacher svg {
  fill: black;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.teacher span.teacher-name,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.teacher span.teacher-name,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.teacher span.teacher-name {
  font-size: 90%;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.price,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.price,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.price del.price-original,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.price del.price-original,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.price del.price-original {
  font-size: 80%;
  width: max-content;
  color: #918ea0;
  border-left: 1px solid #918ea0;
  margin-left: .5rem;
  padding-left: .5rem;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.price span.price-sale,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.price span.price-sale,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.price span.price-sale {
  font-size: 85%;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.date,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.date,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.date {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.date span.date-text,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.date span.date-text,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.date span.date-text {
  font-size: 90%;
  color: #918ea0;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.date i,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.date i,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.date i {
  margin-left: .4rem;
  font-size: 22px;
  color: black;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.time,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.time,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.time {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.time i,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.time i,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.time i {
  margin-left: .4rem;
  font-size: 18px;
  color: black;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item div.card.card-course div.time span.time-text,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.card.card-course div.time span.time-text,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.cloned div.card.card-course div.time span.time-text {
  font-size: 90%;
  color: #918ea0;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav {
  z-index: 10;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-next {
  color: #2c2b31;
  position: absolute;
  top: 50%;
  left: -3%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(145, 142, 160, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 6px 2px rgba(145, 142, 160, 0.5);
  border-radius: 50%;
  transform: rotate(180deg);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-next:focus, section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-next:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-next i.fa.fa-angle-left {
  font-size: 36px;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-prev {
  color: #2c2b31;
  position: absolute;
  top: 50%;
  right: -3%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(145, 142, 160, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 6px 2px rgba(145, 142, 160, 0.5);
  border-radius: 50%;
  transform: rotate(180deg);
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-prev:focus, section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-prev:active {
  border: none;
  outline: none;
  border-color: transparent !important;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-prev i.fa.fa-angle-right {
  font-size: 36px;
}

section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-next.disabled,
section.contents section.section-4 div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-nav button.owl-prev.disabled {
  opacity: .4;
}

footer.footer {
  width: 100%;
  height: 50%;
  font-family: "IRANSans";
  padding-top: 2rem;
  padding-right: 2rem;
  background-color: #faf6fb;
}

footer.footer div.logo_frame {
  display: flex;
  justify-content: center;
  width: 28% !important;
  padding: 0;
}

footer.footer div.logo_frame img.home_logo {
  width: 60px;
  height: 50px;
}

footer.footer div.row {
  width: 100%;
  margin: 0;
}

footer.footer div.row div.partition {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}

footer.footer div.row div.partition div.footer-columns {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer.footer div.row div.partition div.footer-columns div.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 85%;
  color: #2c2b31;
  margin-bottom: 1rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

footer.footer div.row div.partition div.footer-columns div.footer-links span.description {
  text-align: justify;
  width: 100%;
  font-size: 80%;
  line-height: 1.8rem;
  color: rgba(108, 106, 116, 0.9);
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media {
  text-decoration: none;
  color: #ff6600;
  display: flex;
  width: 15%;
  height: max-content;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media:hover {
  color: rgba(108, 106, 116, 0.9);
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media:focus {
  outline: none;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media i.social-media-icon {
  font-size: 18px;
}

footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link {
  display: flex;
  font-size: 80%;
  justify-content: space-between;
  align-items: center;
  color: rgba(108, 106, 116, 0.9);
  text-decoration: none;
  line-height: 1.8rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link:focus {
  outline: none;
}

footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link:hover {
  color: #ff6600;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link {
  display: flex;
  font-size: 80%;
  justify-content: center;
  align-items: center;
  color: rgba(108, 106, 116, 0.9);
  text-decoration: none;
  line-height: 1.8rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i {
  color: #ff6600;
  font-size: .9rem;
  margin-left: .5rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i:hover {
  color: rgba(108, 106, 116, 0.9);
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link svg {
  fill: #ff6600;
  margin-left: .5rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link svg:hover {
  fill: rgba(108, 106, 116, 0.9);
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i.fa-home {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link span {
  color: rgba(108, 106, 116, 0.9);
  text-align: justify;
}
/*# sourceMappingURL=home.css.map */