@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

body {
  text-align: right;
  font-family: "IRANSans";
  font-size: 100%;
  direction: rtl;
}

header.header {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "IRANSans";
}

header.header div.top-header {
  width: 100%;
  height: 40px;
  background-color: #2c2b31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

header.header div.top-header div.top-header-right {
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: .5rem;
}

header.header div.top-header div.top-header-right div.top-header-right-links {
  display: flex;
  justify-content: space-between;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link {
  color: #918ea0;
  text-decoration: none;
  font-size: 90%;
  cursor: pointer;
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.top-header div.top-header-right div.top-header-right-links a.top-header-right-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left {
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: .5rem;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
  font-size: 95%;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:hover {
  color: #ff8800;
}

header.header div.top-header div.top-header-left div.top-header-left-btn a.top-header-left-link:focus {
  outline: none;
}

header.header div.top-header div.top-header-left div.top-header-left-btn span {
  color: rgba(255, 255, 255, 0.9);
}

header.header div.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  padding: 0 1rem;
  background-color: #fff;
  height: 50px;
  margin-bottom: 1rem;
}

header.header div.navbar div.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

header.header div.navbar div.navbar-right .hamburger-menu {
  margin-top: 6px;
  position: absolute;
  top: -4px;
  left: 1rem;
  z-index: 100;
  cursor: pointer;
  display: none;
}

header.header div.navbar div.navbar-right .hamburger-menu .navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-1 {
  transform: rotate(40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-2 {
  opacity: 0;
}

header.header div.navbar div.navbar-right .hamburger-menu .change .menu-line-3 {
  transform: rotate(-40deg);
  width: 100%;
  height: 4px;
}

header.header div.navbar div.navbar-right .hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 4px;
  transition: transform .5s;
}

header.header div.navbar div.navbar-right .hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  transition: all .3s .3s;
  transform-origin: left;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section {
  display: flex;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item {
  width: max-content;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 {
  margin-top: 0;
  max-width: 13.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 1px;
  text-align: right;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(90deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show ul#sub-menu-1 {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: -1px;
  right: 13.85rem;
  width: 13.9rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 .fa {
  transition: .3s transform ease-in-out;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item {
  text-align: right;
  transition: .3s;
  font-size: 90%;
  color: #000;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item a.dropdown-item i.jet-dropdown-arrow {
  padding-right: 1px;
  position: relative;
  bottom: -2px;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 {
  display: none;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item ul.dropdown-menu#sub-menu-0 li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:active {
  background-color: rgba(224, 224, 224, 0.7);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item a.nav-link {
  padding: .6rem;
  padding-bottom: .45rem;
  cursor: pointer;
  outline: 0;
  font-size: 90%;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item a.nav-link i.fa-home {
  font-size: 1.2rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown {
  width: max-content;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown i.jet-dropdown-arrow {
  transform: rotate(0deg);
  position: relative;
  top: 2px;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 14rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0px;
  top: 45px;
  text-align: right;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item {
  outline: 0;
  position: relative;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item {
  padding: 0;
  outline: 0;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item:hover > a {
  background-color: rgba(224, 224, 224, 0.7);
  color: #ffae00;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item {
  font-size: 90%;
  padding-right: .75rem;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown ul.dropdown-menu li.list-item ul.dropdown-menu#sub-menu-1 li.dropdown-item a.dropdown-item i.jet-dropdown-arrow {
  transform: rotate(0deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown a.nav-link {
  padding-top: .8rem;
  padding-bottom: .7rem;
  cursor: pointer;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown.show i.jet-dropdown-arrow {
  transform: rotate(180deg);
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section li.nav-item.dropdown.show li.list-item.dropdown ul#sub-menu-1 {
  display: none;
}

header.header div.navbar div.navbar-right div.collapse ul.navbar-nav div.justify-section .fa {
  transition: .3s transform ease-in-out;
}

header.header div.navbar div.navbar-right div.collapse img.logo {
  width: 65px;
  height: 100%;
}

header.header div.navbar div.navbar-left img.logo {
  width: 65px;
  height: 100%;
}

section.contents {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "IRANSans";
}

section.contents section.main-content.container-fluid {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

section.contents section.main-content.container-fluid div.section-title {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

section.contents section.main-content.container-fluid div.section-title h3.h3 {
  font-size: 2.6rem;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

section.contents section.main-content.container-fluid div.section-title h4.text-muted.lead {
  font-size: 85%;
}

section.contents section.main-content.container-fluid div.card {
  width: 100%;
  height: 50vh;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer {
  width: 100%;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item {
  transform: scale(0.8);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 70%;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item img.image-slide {
  width: 100%;
  height: 100%;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.center {
  transform: scale(1);
  box-shadow: 0px 9px 32px 9px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin: 0;
  height: 80%;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.center img.image-slide {
  width: 100%;
  height: 100%;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots {
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -1rem;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot {
  background: #e7d9eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin: 0 8px;
  outline: none;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot:hover {
  background: #ff8800;
}

section.contents section.main-content.container-fluid div.card div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag div.owl-dots button.owl-dot.active {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  background: #ff8800;
}

section.contents section.section-3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters {
  background-color: #2c2b31;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters div.milestone_col {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.contents section.section-3 div.counters div.milestone_col div.milestone {
  width: 100%;
}

section.contents section.section-3 div.counters div.milestone_col div.milestone div.milestone_icon {
  display: inline-block;
  height: 81px;
  width: 81px;
}

section.contents section.section-3 div.counters div.milestone_col div.milestone div.milestone_icon img {
  width: 100%;
  height: 100%;
}

section.contents section.section-3 div.counters div.milestone_col div.milestone div.milestone_counter {
  font-size: 200%;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 0.75;
  margin-top: 2rem;
}

section.contents section.section-3 div.counters div.milestone_col div.milestone div.milestone_text {
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 1.5rem;
  line-height: 0.75;
}

footer.footer {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
  font-family: "IRANSans";
}

footer.footer div.row {
  width: 100%;
  margin: 0;
}

footer.footer div.row div.footer-columns {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer.footer div.row div.footer-columns div.logo_frame {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer.footer div.row div.footer-columns div.logo_frame img.home_logo {
  width: 60px;
  height: 50px;
}

footer.footer div.row div.footer-columns div.footer-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer.footer div.row div.footer-columns div.footer-links div.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 85%;
  color: #2c2b31;
  margin-bottom: 1rem;
}

footer.footer div.row div.footer-columns div.footer-links span.description {
  text-align: right;
  text-justify: inter-ideograph;
  width: 100%;
  height: 100%;
  font-size: 80%;
  line-height: 1.8rem;
  color: rgba(108, 106, 116, 0.9);
}

footer.footer div.row div.footer-columns a.footer-link {
  display: flex;
  font-size: 80%;
  justify-content: space-between;
  align-items: center;
  color: rgba(108, 106, 116, 0.9);
  text-decoration: none;
  line-height: 1.8rem;
}

footer.footer div.row div.footer-columns a.footer-link:focus {
  outline: none;
}

footer.footer div.row div.footer-columns a.footer-link:hover {
  color: #ff6600;
}

footer.footer div.row div.footer-columns a.footer-link i {
  color: #ff6600;
  font-size: 1rem;
  margin-left: .5rem;
}

footer.footer div.row div.footer-columns a.footer-link span {
  color: rgba(108, 106, 116, 0.9);
}
/*# sourceMappingURL=home.css.map */