body {
  text-align: right;
  font-family: "IRANSans";
  font-size: 100%;
  direction: rtl;
}

@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

@media (max-width: 991px) {
  footer.footer div.logo_frame {
    justify-content: center;
    width: 30% !important;
  }
  footer.footer div.logo_frame img.home_logo {
    width: 60px;
    height: 55px;
  }
  footer.footer div.row {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  footer.footer div.row div.partition {
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
  }
  footer.footer div.row div.partition div.footer-columns {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 82%;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links span.description {
    text-align: justify;
    width: 100%;
    font-size: 78%;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias {
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media {
    width: 20%;
    height: max-content;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media i.social-media-icon {
    font-size: 17px;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link {
    font-size: 80%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link {
    font-size: 78%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i {
    font-size: .9rem;
    margin-left: .5rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link svg {
    margin-left: .5rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i.fa-home {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link span {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  footer.footer div.logo_frame {
    justify-content: center;
    width: 25% !important;
  }
  footer.footer div.logo_frame img.home_logo {
    width: 65px;
    height: 65px;
  }
  footer.footer div.row {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  footer.footer div.row div.partition {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
  }
  footer.footer div.row div.partition div.footer-columns {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 82%;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links span.description {
    text-align: justify;
    width: 100%;
    font-size: 78%;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias {
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media {
    width: 20%;
    height: max-content;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media i.social-media-icon {
    font-size: 17px;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link {
    font-size: 80%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link {
    font-size: 78%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i {
    font-size: .9rem;
    margin-left: .5rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link svg {
    margin-left: .5rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i.fa-home {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link span {
    text-align: justify;
  }
  footer.footer div.row div.partition div#about-us {
    position: relative;
    top: 6%;
  }
}

@media (max-width: 575px) {
  footer.footer div.logo_frame {
    justify-content: center;
    width: 90% !important;
  }
  footer.footer div.logo_frame img.home_logo {
    width: 70px;
    height: 70px;
  }
  footer.footer div.row {
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer.footer div.row div.partition {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
  }
  footer.footer div.row div.partition div.footer-columns {
    width: 85%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 82%;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links span.description {
    text-align: justify;
    width: 100%;
    font-size: 78%;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias {
    width: 90%;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 8%;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media {
    width: 50%;
    height: max-content;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.social-medias a.social-media i.social-media-icon {
    font-size: 16px;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links a.footer-link {
    font-size: 80%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link {
    font-size: 78%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i {
    font-size: .85rem;
    margin-left: .4rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link svg {
    margin-left: .4rem;
    width: 18px;
    height: 18px;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link i.fa-home {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  footer.footer div.row div.partition div.footer-columns div.footer-links div.footer-link span {
    text-align: justify;
  }
  footer.footer div.row div.partition div#about-us {
    position: relative;
    top: 6%;
  }
}
/*# sourceMappingURL=mediaFooter.css.map */