body {
  text-align: right;
  font-family: "IRANSans";
  font-size: 100%;
  direction: rtl;
}

@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

@media (max-width: 991px) {
  section.contents section.section-3 {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  section.contents section.section-3 div.counters {
    width: 100%;
    height: 280px;
  }
  section.contents section.section-3 div.counters div.partition {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone {
    width: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon {
    height: 78px;
    width: 78px;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_counter {
    font-size: 200%;
    font-weight: 500;
    line-height: 0.7;
    margin-top: 2rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_text {
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 0.7;
    font-size: 90%;
  }
}

@media (max-width: 800px) {
  section.contents section.section-3 {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  section.contents section.section-3 div.counters {
    width: 100%;
    height: 280px;
  }
  section.contents section.section-3 div.counters div.partition {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone {
    width: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon {
    height: 75px;
    width: 75px;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_counter {
    font-size: 190%;
    font-weight: 500;
    line-height: 0.7;
    margin-top: 1.8rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_text {
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 0.7;
    font-size: 88%;
  }
}

@media (max-width: 768px) {
  section.contents section.section-3 {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  section.contents section.section-3 div.counters {
    width: 100%;
    height: 350px;
  }
  section.contents section.section-3 div.counters div.partition {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1.2rem 1rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone {
    width: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon {
    height: 70px;
    width: 70px;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_counter {
    font-size: 170%;
    font-weight: 500;
    line-height: 0.6;
    margin-top: 1.5rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_text {
    font-weight: 500;
    margin-top: 1.2rem;
    line-height: 0.6;
    font-size: 80%;
  }
}

@media (max-width: 576px) {
  section.contents section.section-3 {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  section.contents section.section-3 div.counters {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  section.contents section.section-3 div.counters div.partition {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1.2rem 1rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col {
    margin: 1rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone {
    width: 100%;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_icon {
    height: 65px;
    width: 65px;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_counter {
    font-size: 150%;
    font-weight: 500;
    line-height: 0.5;
    margin-top: 1.5rem;
  }
  section.contents section.section-3 div.counters div.partition div.milestone_col div.milestone div.milestone_text {
    font-weight: 500;
    margin-top: 1.3rem;
    line-height: 0.5;
    font-size: 75%;
  }
}
/*# sourceMappingURL=mediaCounter.css.map */