@import './../base';
@import './../fonts';

@media(max-width:1200px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 25%;
                padding: .5rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 90%;
                    }
                }
            }

            div.top-header-left {
                padding: .5rem;

                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 95%;

                    }

                    span {}
                }
            }
        }
    }
}

@media(max-width:991px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 35%;
                padding: .5rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 90%;
                    }
                }
            }

            div.top-header-left {
                padding: .5rem;

                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 95%;

                    }

                    span {
                        font-size: 95%;
                    }
                }
            }
        }

    }
}

@media(max-width:800px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 38%;
                padding: .4rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 85%;
                    }
                }
            }

            div.top-header-left {
                padding: .4rem;

                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 85%;

                    }

                    span {
                        font-size: 85%;
                    }
                }
            }
        }

    }
}

@media(max-width:700px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 40%;
                padding: .3rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 80%;
                    }
                }
            }

            div.top-header-left {
                padding: .3rem;
                justify-content: flex-start;


                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 80%;

                    }

                    span {
                        font-size: 80%;
                    }
                }
            }
        }

    }
}

@media(max-width:576px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 2rem;

            div.top-header-right {
                width: 45%;
                padding: .2rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 80%;
                    }
                }
            }

            div.top-header-left {
                padding: .3rem;
                justify-content: flex-start;
                position: relative;
                left: -2%;
               


                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 80%;
                    }

                    span {
                        font-size: 80%;
                    }
                }
            }
        }

    }
}
@media(max-width:480px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 1rem;

            div.top-header-right {
               display: none;

                div.top-header-right-links {
                    a.top-header-right-link {}
                }
            }

            div.top-header-left {
                width: 100%;
                padding: .3rem;
                justify-content: flex-end;
                position: relative;
                left: -1%;
               
                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 75%;
                    }

                    span {
                        font-size: 75%;
                    }
                }
            }
        }

    }
}
