@import './../base';
@import './../fonts';

@media(max-width:1200px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 25%;
                padding: .5rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 90%;
                    }
                }
            }

            div.top-header-left {
                padding: .5rem;

                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 95%;

                    }

                    span {}
                }
            }
        }
    }
}

@media(max-width:991px) {
    header.header {
        div.top-header {
            width: 100%;
            padding: 0 3rem;

            div.top-header-right {
                width: 30%;
                padding: .5rem;

                div.top-header-right-links {
                    a.top-header-right-link {
                        font-size: 90%;
                    }
                }
            }

            div.top-header-left {
                padding: .5rem;

                div.top-header-left-btn {
                    a.top-header-left-link {
                        font-size: 95%;

                    }

                    span {}
                }
            }
        }

    }
}