@import "fonts";
@import 'base';

header.header {
    width: 100%;
    font-family: "IRANSans";

    div.top-header {
        width: 100%;
        height: 40px;
        background-color: rgba($color: $color-header, $alpha: 1.0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;


        div.top-header-right {
            align-items: center;
            justify-content: center;
            width: 20%;
            padding: .5rem;


            div.top-header-right-links {
                display: flex;
                justify-content: space-between;

                a.top-header-right-link {
                    color: rgba($color: $color-header-text, $alpha: 1.0);
                    text-decoration: none;
                    font-size: 90%;
                    cursor: pointer;

                    &:hover {
                        color: rgba($color: #ffffff, $alpha: .9);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        div.top-header-left {
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: .5rem;

            div.top-header-left-btn {
                a.top-header-left-link {
                    color: rgba($color: #ffffff, $alpha: .9);
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 95%;

                    &:hover {
                        color: rgba($color: $color-orange-medium, $alpha: 1.0);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                span {
                    color: rgba($color: #ffffff, $alpha: .9);
                }
            }
        }
    }

    div.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 95%;
        padding: 0 1rem;
        background-color: $color-light;
        height: 55px;

        @media(max-width : 991px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            height: 100%;

        }

        @media(max-width : 405px) {
            width: 100%;
        }

        &-right {
            padding-right: 2rem;
            display: flex;
            align-items: center;
            height: 100%;

            .hamburger-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                position: absolute;
                top: 0;
                left: 1rem;
                z-index: 100;
                cursor: pointer;


                @media(min-width:992px) {
                    // display: inline-block;
                    display: none;
                }


                .navbar-toggler-icon {
                    width: 2rem;
                    height: 2rem;
                    // border: 1px solid #fff;
                }

                .change .menu-line-1 {
                    -webkit-transform: rotate(40deg);
                    transform: rotate(40deg);
                    width: 100%;
                    height: 4px;

                }

                .change .menu-line-2 {
                    opacity: 0;
                }

                .change .menu-line-3 {
                    -webkit-transform: rotate(-40deg);
                    transform: rotate(-40deg);
                    width: 100%;
                    height: 4px;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    transition: transform .5s;


                    &-line {
                        width: 100%;
                        height: 4px;
                        border-radius: 5px;
                        background-color: #000000;
                        transition: all .3s .3s;
                        transform-origin: left;

                    }
                }
            }

            div.collapse {
                ul.navbar-nav {
                    li.nav-end {
                        @media(max-width:1199px) {
                            display: none;
                        }
                    }

                    li.nav-item {
                        display: flex;
                        justify-content: flex-start;

                        ul.dropdown-menu#sub-menu-0 {
                            margin-top: 0;
                            max-width: 13.9rem;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            position: absolute;
                            right: 1px;
                            text-align: right;

                            @media(max-width:992px) {
                                position: absolute;
                                top: 0px;
                                right: 6.4rem;
                            }

                            li.list-item.dropdown {
                                i.jet-dropdown-arrow {
                                    transform: rotate(90deg);
                                }
                            }

                            li.list-item.dropdown.show {

                                ul#sub-menu-1 {
                                    display: flex;
                                    flex-direction: column;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    position: absolute;
                                    top: -1px;
                                    right: 13.85rem;
                                    width: 13.9rem;
                                }

                                @media(max-width:1027px) {
                                    ul#sub-menu-1 {
                                        font-size: 95%;
                                        width: 11rem;
                                        right: 10.88rem;
                                    }
                                }

                                @media(max-width:991px) {
                                    ul#sub-menu-1 {
                                        font-size: 90%;
                                        width: 10rem;
                                        right: 10.85rem;
                                    }
                                }

                                @media(max-width:485px) {
                                    ul#sub-menu-1 {
                                        font-size: 85%;
                                        width: 9.5rem;
                                        right: 9.82rem;
                                    }
                                }

                                i.jet-dropdown-arrow {
                                    transform: rotate(0deg);
                                }
                            }

                            .fa {
                                transition: .3s transform ease-in-out;
                            }


                            li.list-item {
                                a.dropdown-item {
                                    text-align: right;
                                    transition: .3s;
                                    font-size: 90%;

                                    &:hover {
                                        background-color: #f1f1f1;
                                        color: $color-orange-dark;

                                    }

                                    i.jet-dropdown-arrow {
                                        padding-right: 1px;
                                        position: relative;
                                        bottom: -2px;
                                        // transform: rotate(180deg);
                                    }

                                }

                                ul.dropdown-menu#sub-menu-1 {
                                    display: none;

                                    li.dropdown-item {
                                        &:active {
                                            background-color: $color-navbar;
                                        }
                                    }

                                }
                            }

                        }

                        a.nav-link {
                            color: #000000;
                            padding: .8rem .9rem;
                            padding-bottom: .45rem;
                            cursor: pointer;
                            outline: 0;
                            font-size: 90%;


                            @media(max-width:1140px) {
                                padding: .7rem .5rem;
                            }

                            i.fa-home {
                                font-size: 1.2rem;
                                // color: $color-navbar;

                                &:hover {
                                    color: rgba($color: $color-orange-dark, $alpha: 1.0);
                                }
                            }
                        }
                    }

                    @media(max-width:991px) {

                        li.nav-item {
                            border-left: 0px;

                            &:hover>a {
                                color: #000000;
                                background-color: transparent;
                            }
                        }

                    }

                    li.nav-item.dropdown {
                        i.jet-dropdown-arrow {
                            transform: rotate(0deg);
                            position: relative;
                            top: 2px;
                        }

                        @media(max-width:991px) {
                            i.jet-dropdown-arrow {
                                transform: rotate(0deg);
                            }

                            &:hover>a {
                                background-color: transparent;
                            }
                        }

                        ul.dropdown-menu {
                            margin-top: 0;
                            padding-bottom: 0;
                            padding-top: 0;
                            width: 14rem;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            position: absolute;
                            right: 0px;
                            top: 45px;
                            text-align: right;

                            li.list-item {
                                outline: 0;
                                position: relative;

                                &:hover>a {
                                    background-color: $color-navbar;
                                    color: $color-orange-dark;
                                }

                                a.dropdown-item {
                                    font-size: 90%;

                                    i.jet-dropdown-arrow {
                                        transform: rotate(0deg);
                                    }
                                }

                                ul.dropdown-menu#sub-menu-1 {
                                    li.dropdown-item {
                                        padding: 0;
                                        outline: 0;

                                        a.dropdown-item {
                                            font-size: 90%;

                                            i.jet-dropdown-arrow {
                                                transform: rotate(0deg);
                                            }

                                            padding-right: .75rem;
                                        }
                                    }
                                }

                                a.dropdown-item {
                                    font-size: 90%;

                                    i.jet-dropdown-arrow {
                                        transform: rotate(0deg);
                                    }

                                    padding-right: .75rem;

                                }
                            }


                        }



                        @media (max-width:1027px) {

                            ul.dropdown-menu {
                                width: 11rem;
                                position: absolute;
                            }

                        }

                        @media (max-width:991px) {
                            ul.dropdown-menu {
                                font-size: 93%;
                                position: static;
                                float: none;
                                top: 0px;
                                right: 6.9rem;
                                width: 11rem;
                            }


                            ul#monitor {
                                // position: absolute;
                                top: .7rem;
                                right: 5.3rem;
                                width: 10rem;

                            }

                            ul#users {
                                // position: absolute;
                                top: .7rem;
                                right: 4rem;
                                width: 10rem;
                            }

                            ul#charts {
                                // position: absolute;
                                top: .7rem;
                                right: 4.4rem;
                                width: 10rem;
                            }

                            ul#reports {
                                // position: absolute;
                                top: .7rem;
                                right: 4.9rem;
                                width: 10rem;

                            }

                            ul#tel {
                                // position: absolute;
                                top: .7rem;
                                right: 4.9rem;
                                width: 10rem;
                            }

                            ul#sub-menu-0 {
                                top: .7rem;
                                position: static;
                                float: none;
                            }
                        }


                        @media (max-width:485px) {
                            ul.dropdown-menu {
                                position: static;
                                float: none;
                                top: .7rem;
                                right: 4.9rem;
                                width: 10rem;
                                font-size: 85%;

                                i.jet-dropdown-arrow {}
                            }

                            ul#monitor {
                                top: .7rem;
                                right: 5.3rem;
                                width: 10rem;
                                font-size: 85%;
                            }

                            ul#users {
                                top: .7rem;
                                right: 4rem;
                                width: 10rem;
                                font-size: 85%;
                            }

                            ul#charts {
                                top: .7rem;
                                right: 4.4rem;
                                width: 10rem;
                                font-size: 85%;
                            }

                            ul#sub-menu-0 {
                                top: .7rem;
                                position: static;
                                float: none;
                            }


                        }


                        a.nav-link {
                            color: #000000;
                            padding-top: .8rem;
                            padding-bottom: .7rem;
                            cursor: pointer;
                            text-align: right;
                            width: max-content;
                        }
                    }

                    li.nav-item.nav-end {
                        a.nav-link {
                            padding-bottom: .7rem;
                        }
                    }

                    // --------
                    li.nav-item.dropdown.show {

                        i.jet-dropdown-arrow {
                            transform: rotate(180deg);
                        }

                        @media (max-width:992px) {
                            a.nav-link {
                                font-size: 90%;
                            }

                        }

                        li.list-item.dropdown {
                            ul#sub-menu-1 {
                                display: none;
                            }
                        }
                    }

                    .fa {
                        transition: .3s transform ease-in-out;
                    }
                }

                @media(max-width: 991px) {
                    ul.navbar-nav {
                        position: relative;
                        right: -1.5rem;
                    }
                }

            }
        }

        &-left {
            height: 100%;
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;

            img.logo {
                width: 75px;
                height: 100%;
            }

            @media(max-width : 991px) {
                display: none;
            }
        }
    }
}

section.contents {
    width: 100%;
    font-family: "IRANSans";

    section.section-1.main-content.container-fluid {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        div.section-title {
            background-color: rgba($color:$color-navbar, $alpha: .5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 100%;

            h1.h3 {
                font-size: 2.6rem;
                text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);

            }

            h4.text-muted.lead {
                font-size: 85%;
            }
        }

        div.card {
            width: 100%;
            height: 60vh;
            margin: 0 1rem;
            padding: 0;
            // box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;


            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                display: flex;
                width: 100%;
                height: 100%;
                margin: 0;

                div.owl-stage-outer {
                    width: 100%;

                    div.owl-stage {
                        width: 90%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div.owl-item {
                            transform: scale(.8);
                            box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.7);
                            transition: all 0.3s ease-in;
                            // margin: .1rem auto;
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            height: 80%;

                            img.image-slide {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        div.owl-item.center {
                            transform: scale(1);
                            box-shadow: 0px 9px 32px 9px rgba(0, 0, 0, 0.15);
                            margin-top: 0;
                            // margin-bottom: 1rem;
                            margin: 0;
                            height: 80%;
                            z-index: 10;

                            img.image-slide {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }


                div.owl-dots {
                    width: 100%;
                    height: 25%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: absolute;
                    bottom: -1rem;

                    button.owl-dot {
                        background: $color-dots;
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in;
                        margin: 0 8px;
                        outline: none;

                        &:hover {
                            background: $color-orange-dark;
                        }
                    }

                    button.owl-dot.active {
                        box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
                        background: $color-orange-dark;
                    }
                }

            }
        }
    }

    section.section-2 {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        div.video-gallery.owl-carousel.owl-theme {
            width: 100%;

            div.owl-stage-outer {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div.owl-stage {
                    div.owl-item {
                        width: 100% !important;

                        div.slide-video {
                            display: flex;
                            width: 100%;

                            span.text-video {
                                width: 40%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: 2%;
                                // margin-right: 2%;
                                font-size: 95%;
                                text-align: justify;
                            }

                            div.ckin__player.default.ckin__overlay {
                                width: 45%;
                                // height: 420px;
                                background: rgba($color: $color-light-2, $alpha: 1.0);
                                border: 1px solid rgba($color: #000000, $alpha: .8);
                                // position: relative;
                                // display: flex;
                                // direction: ltr;
                                // transition: .2s all;

                                &::before,
                                &::after {
                                    background: rgba($color: $color-light, $alpha: 1.0);
                                    z-index: -1;
                                    position: absolute;
                                    content: "";
                                    bottom: 15px;
                                    left: 8px;
                                    top: 80%;
                                    width: 50%;
                                    max-width: 300px;
                                    box-shadow: 0 12px 10px .2rem rgba(0, 0, 0, 0.7);
                                    transform: rotate(-3deg);
                                }

                                &::after {
                                    transform: rotate(3deg);
                                    right: 8px;
                                    left: auto;
                                }

                                video {}

                                button.default__button--big.toggle {
                                    i.ckin-play {}
                                }
                            }

                        }
                    }
                }
            }

            div.owl-nav {
                width: 5%;
                z-index: 10;

                button.owl-prev {
                    color: $color-header;
                    position: absolute;
                    top: 50%;
                    left: 2%;
                    border: none;
                    border-color: transparent;

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        border-color: transparent !important;
                    }

                    i.fa.fa-angle-left {
                        font-size: 36px;
                    }
                }

                button.owl-next {
                    color: $color-header;
                    position: absolute;
                    top: 50%;
                    right: 2%;
                    border: none;
                    border-color: transparent;

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        border-color: transparent !important;
                    }

                    i.fa.fa-angle-right {
                        font-size: 36px;
                    }
                }

                button.owl-next.disabled,
                button.owl-prev.disabled {
                    opacity: .4;
                }
            }
        }
    }

    section.section-3 {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        div.counters {
            background-image: linear-gradient(0, rgba(0, 0, 0, .7) 100%, transparent), url('./../../img/counter-bg-1.jpg');
            // background-color: rgba($color: $color-header, $alpha: 1.0);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;

            div.partition {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                div.milestone_col {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div.milestone {
                        width: 100%;

                        div.milestone_icon {
                            display: inline-block;
                            height: 81px;
                            width: 81px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        div.milestone_counter {
                            font-size: 200%;
                            font-weight: 500;
                            color: #FFFFFF;
                            line-height: 0.75;
                            margin-top: 2rem;
                        }

                        div.milestone_text {
                            font-weight: 500;
                            color: #FFFFFF;
                            margin-top: 1.5rem;
                            line-height: 0.75;
                        }
                    }
                }
            }

        }
    }

    section.section-4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color:$color-light, $alpha: 1.0);
        padding: 3rem;
        padding-bottom: 0;

        div.hesder-courses {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba($color: $color-header-text, $alpha: .5);
            padding-bottom: 1rem;

            span.title-section {
                text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
                font-weight: 600;
                font-size: 1.2rem;
            }

            button.allview {
                color: rgba($color: $color-light, $alpha: 1.0);
                border: 1px solid rgba($color: $color-header-text, $alpha: .5);
                background-color: rgba($color: $color-header-text, $alpha: 1.0);
                border-radius: 28px;
                font-size: 75%;

                &:focus,
                &:hover {
                    box-shadow: 0px 0px 6px 2px rgba($color: $color-header-text, $alpha: .5);
                }
            }

        }


        div.cards-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
            // display: flex;
            width: 100%;
            height: 100%;
            margin: 0;

            div.owl-stage-outer {
                // width: 100%;
                // display: flex;
                // align-items: center;
                // justify-content: flex-start;

                div.owl-stage {

                    // width: 90% !important;
                    // display: flex;
                    // padding: 2rem;

                    div.owl-item,
                    div.owl-item.active,
                    div.owl-item.cloned {
                        // width: 420px !important;

                        // div.rows {
                        // width: 100%;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        // flex-direction: column;
                        // flex-direction: row;
                        // padding: 0;
                        // margin: 0;

                        div.card.card-course {
                            margin: 1rem;
                            // width: 85%;
                            min-height: 100%;
                            height: 450px;
                            // border: 1px solid rgba($color: $color-header, $alpha: .4);
                            display: flex;
                            flex-direction: column;
                            background-color: rgba($color:$color-light, $alpha: 1.0);
                            overflow: hidden;

                            // &:before {
                            //     border: 4px solid transparent;
                            //     border-top: 4px solid #348c34;
                            //     border-right: 4px solid #348c34;
                            //     content: "";
                            //     position: absolute;
                            //     left: 0;
                            //     bottom: -8px;
                            // }

                            // &:after {
                            //     content: " تومان";
                            // }

                            &:hover {
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);

                            }

                            &:hover>div.card-body {
                                // background-color: rgba($color:$color-navbar, $alpha: .6);
                            }

                            &:hover>div.card-body>div.parents-elem>h5.card-title {
                                color: rgba($color:$color-yellow, $alpha: 1.0);
                            }

                            &:hover>div.card-body>div.parents-elem>div.Capacity {
                                background-color: rgba($color: $color-blue-dark, $alpha: 1.0);
                                color: rgba($color:$color-yellow, $alpha: 1.0);
                            }

                            &:hover>img.card-img-top.image-card-slider {
                                transform: scale(1.1);
                                transition: all .3s linear;
                                opacity: 1;
                            }

                            img.card-img-top.image-card-slider {
                                width: 100%;
                                height: 180px;
                                opacity: .8;
                                transform: scale(1);
                            }

                            div.card-body {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;

                                div.parents-elem {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: center;
                                    height: 100%;
                                    width: 100%;


                                    div.Capacity {
                                        background-color: rgba($color: $color-yellow, $alpha: 1.0);
                                        color: rgba($color:$color-blue-dark, $alpha: 1.0);
                                        width: max-content;
                                        border-radius: 28px;
                                        position: relative;
                                        top: -17%;
                                        right: -35%;
                                        padding: .7rem .7rem;
                                        font-size: 70%;
                                        font-weight: bold;



                                        &:hover {
                                            background-color: rgba($color: $color-yellow, $alpha: 1.0);
                                            color: rgba($color:$color-blue-dark, $alpha: 1.0);
                                        }


                                    }

                                    h5.card-title {
                                        width: 100%;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: center;
                                    }

                                    div.buttons-card {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: max-content;

                                        button.btn {
                                            width: 40%;
                                            font-size: 90%;
                                        }

                                        button.btn.register {
                                            border: 1px solid rgba($color: $color-yellow, $alpha: 1.0);
                                            // color: rgba($color: $color-orange-light, $alpha: 1.0);
                                            margin-left: 1rem;
                                            color: rgba($color: $color-light, $alpha: 1.0);
                                            background-color: rgba($color: $color-yellow, $alpha: 1.0);

                                            &:focus,
                                            &:hover {
                                                box-shadow: 0px 0px 6px 2px rgba($color: $color-orange-light, $alpha: .5);
                                            }
                                        }

                                        button.btn.view {
                                            color: rgba($color: $color-light, $alpha: 1.0);
                                            border: 1px solid rgba($color: $color-header-text, $alpha: .5);
                                            background-color: rgba($color: $color-header-text, $alpha: 1.0);

                                            &:focus,
                                            &:hover {
                                                box-shadow: 0px 0px 6px 2px rgba($color: $color-header-text, $alpha: .5);
                                            }
                                        }
                                    }
                                }
                            }

                            div.teacher {
                                svg {
                                    fill: rgba($color: $color-dark, $alpha: 1.0);
                                }

                                span.teacher-name {
                                    font-size: 90%;

                                }
                            }

                            div.price {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // height: 40px;

                                del.price-original {
                                    font-size: 80%;
                                    width: max-content;
                                    color: rgba($color: $color-header-text, $alpha: 1.0);
                                    border-left: 1px solid rgba($color: $color-header-text, $alpha: 1.0);
                                    margin-left: .5rem;
                                    padding-left: .5rem;
                                }

                                span.price-sale {
                                    // margin-right: .5rem;
                                    font-size: 85%;
                                }
                            }

                            // div.combined {
                            //     width: 80%;
                            //     justify-content: space-around;

                            div.date {
                                width: max-content;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // height: 40px;

                                span.date-text {
                                    font-size: 90%;
                                    // font-weight: bold;
                                    color: rgba($color: $color-header-text, $alpha: 1.0);
                                }

                                i {
                                    margin-left: .4rem;
                                    font-size: 22px;
                                    color: rgba($color: $color-dark, $alpha: 1.0);
                                }
                            }

                            div.time {
                                width: max-content;
                                // height: 40px;
                                display: flex;
                                justify-content: center;

                                align-items: center;

                                i {
                                    margin-left: .4rem;
                                    font-size: 18px;
                                    color: rgba($color: $color-dark, $alpha: 1.0);
                                }

                                span.time-text {
                                    font-size: 90%;
                                    // font-weight: bold;
                                    color: rgba($color: $color-header-text, $alpha: 1.0);
                                }
                            }

                            // }

                        }

                        // }
                    }

                }
            }

            div.owl-nav {
                z-index: 10;

                button.owl-next {
                    color: $color-header;
                    position: absolute;
                    top: 50%;
                    left: -3%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgba($color: $color-header-text, $alpha: .2);
                    background-color: rgba($color: $color-light, $alpha: .5);
                    box-shadow: 0px 0px 6px 2px rgba($color: $color-header-text, $alpha: .5);
                    border-radius: 50%;
                    transform: rotate(180deg);

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        border-color: transparent !important;
                    }

                    i.fa.fa-angle-left {
                        font-size: 36px;
                    }
                }

                button.owl-prev {
                    color: $color-header;
                    position: absolute;
                    top: 50%;
                    right: -3%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgba($color: $color-header-text, $alpha: .2);
                    background-color: rgba($color: $color-light, $alpha: .5);
                    box-shadow: 0px 0px 6px 2px rgba($color: $color-header-text, $alpha: .5);
                    border-radius: 50%;
                    transform: rotate(180deg);


                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        border-color: transparent !important;
                    }

                    i.fa.fa-angle-right {
                        font-size: 36px;
                    }
                }

                button.owl-next.disabled,
                button.owl-prev.disabled {
                    opacity: .4;
                }
            }

        }

    }
}


footer.footer {
    width: 100%;
    height: 50%;
    font-family: "IRANSans";
    padding-top: 2rem;
    padding-right: 2rem;
    background-color: rgba($color: $color-light-2, $alpha: 1.0);

    div.logo_frame {
        display: flex;
        justify-content: center;
        width: 28% !important;
        padding: 0;

        img.home_logo {
            width: 60px;
            height: 50px;
        }
    }

    div.row {
        width: 100%;
        margin: 0;
        // padding: 1rem;


        div.partition {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 50%;

            div.footer-columns {
                width: 50%;
                display: flex;
                align-items: center;
                flex-direction: column;

                div.footer-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 85%;
                    color: rgba($color: $color-header, $alpha: 1.0);
                    margin-bottom: 1rem;

                }

                div.footer-links {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    span.description {
                        text-align: justify;
                        width: 100%;
                        font-size: 80%;
                        line-height: 1.8rem;
                        color: rgba($color: $color-text, $alpha: .9);
                    }

                    div.social-medias {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a.social-media {
                            text-decoration: none;
                            color: rgba($color: $color-orange-dark, $alpha: 1.0);
                            display: flex;
                            width: 15%;
                            height: max-content;

                            &:hover {
                                color: rgba($color: $color-text, $alpha: .9);
                            }

                            &:focus {
                                outline: none;
                            }


                            i.social-media-icon {
                                font-size: 18px;
                            }

                        }
                    }

                    a.footer-link {
                        display: flex;
                        font-size: 80%;
                        justify-content: space-between;
                        align-items: center;
                        color: rgba($color: $color-text, $alpha: .9);
                        text-decoration: none;
                        line-height: 1.8rem;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            color: rgba($color: $color-orange-dark, $alpha: 1.0);
                        }
                    }

                    div.footer-link {
                        display: flex;
                        font-size: 80%;
                        justify-content: space-between;
                        align-items: center;
                        color: rgba($color: $color-text, $alpha: .9);
                        text-decoration: none;
                        line-height: 1.8rem;

                        i {
                            color: rgba($color: $color-orange-dark, $alpha: 1.0);
                            font-size: 1rem;
                            margin-left: .5rem;

                            &:hover {
                                color: rgba($color: $color-text, $alpha: .9);
                            }
                        }

                        svg {
                            fill: rgba($color: $color-orange-dark, $alpha: 1.0);
                            margin-left: .5rem;

                            &:hover {
                                fill: rgba($color: $color-text, $alpha: .9);
                            }
                        }

                        i.fa-home {
                            font-size: 1.3rem;
                            margin-bottom: 1rem;
                        }

                        span {
                            color: rgba($color: $color-text, $alpha: .9);
                            text-align: justify;
                        }

                    }
                }

            }
        }
    }
}