@import "fonts";
@import 'base';

header.header {
    width: 100%;
    margin-bottom: 1rem;
    font-family: "IRANSans";

    div.top-header {
        width: 100%;
        height: 40px;
        background-color: rgba($color: $color-header, $alpha: 1.0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;


        div.top-header-right {
            align-items: center;
            justify-content: center;
            width: 20%;
            padding: .5rem;


            div.top-header-right-links {
                display: flex;
                justify-content: space-between;

                a.top-header-right-link {
                    color: rgba($color: $color-header-text, $alpha: 1.0);
                    text-decoration: none;
                    font-size: 90%;
                    cursor: pointer;

                    &:hover {
                        color: rgba($color: #ffffff, $alpha: .9);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        div.top-header-left {
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: .5rem;

            div.top-header-left-btn {
                a.top-header-left-link {
                    color: rgba($color: #ffffff, $alpha: .9);
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 95%;

                    &:hover {
                        color: rgba($color: $color-orange-medium, $alpha: 1.0);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                span {
                    color: rgba($color: #ffffff, $alpha: .9);
                }
            }
        }
    }

    div.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 100%;
        padding: 0 1rem;
        background-color: $color-light;
        height: 50px;
        margin-bottom: 1rem;

        div.navbar-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 2rem;

            .hamburger-menu {
                margin-top: 6px;
                position: absolute;
                top: -4px;
                left: 1rem;
                z-index: 100;
                cursor: pointer;
                display: none;

                .navbar-toggler-icon {
                    width: 1.8em;
                    height: 1.8em;
                }

                .change .menu-line-1 {
                    -webkit-transform: rotate(40deg);
                    transform: rotate(40deg);
                    width: 100%;
                    height: 4px;

                }

                .change .menu-line-2 {
                    opacity: 0;
                }

                .change .menu-line-3 {
                    -webkit-transform: rotate(-40deg);
                    transform: rotate(-40deg);
                    width: 100%;
                    height: 4px;
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 5px;
                    border-radius: 4px;
                    transition: transform .5s;


                    &-line {
                        width: 100%;
                        height: 4px;
                        background-color: $color-dark;
                        border-radius: 2px;
                        transition: all .3s .3s;
                        transform-origin: left;

                    }
                }
            }

            div.collapse {
                ul.navbar-nav {
                    div.justify-section {
                        display: flex;

                        li.nav-item {
                            width: max-content;

                            &:hover>a.nav-link {
                                // color: $color-orange-light;
                            }

                            ul.dropdown-menu#sub-menu-0 {
                                margin-top: 0;
                                max-width: 13.9rem;
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                position: absolute;
                                right: 1px;
                                text-align: right;

                                li.list-item.dropdown {
                                    i.jet-dropdown-arrow {
                                        transform: rotate(90deg);
                                    }
                                }

                                li.list-item.dropdown.show {

                                    ul#sub-menu-1 {
                                        display: flex;
                                        flex-direction: column;
                                        padding-top: 0;
                                        padding-bottom: 0;
                                        position: absolute;
                                        top: -1px;
                                        right: 13.85rem;
                                        width: 13.9rem;
                                    }

                                    i.jet-dropdown-arrow {
                                        transform: rotate(0deg);
                                    }
                                }

                                .fa {
                                    transition: .3s transform ease-in-out;
                                }


                                li.list-item {
                                    a.dropdown-item {
                                        text-align: right;
                                        transition: .3s;
                                        font-size: 90%;
                                        color: $color-dark;

                                        &:hover {
                                            background-color: #f1f1f1;
                                            color: $color-orange-light;

                                        }

                                        i.jet-dropdown-arrow {
                                            padding-right: 1px;
                                            position: relative;
                                            bottom: -2px;
                                        }

                                    }

                                    ul.dropdown-menu#sub-menu-1 {
                                        display: none;

                                        li.dropdown-item {
                                            &:active {
                                                background-color: $color-navbar;
                                            }
                                        }

                                    }
                                }

                            }

                            a.nav-link {
                                // color: #fff;
                                padding: .6rem;
                                padding-bottom: .45rem;
                                cursor: pointer;
                                outline: 0;
                                font-size: 90%;

                                i.fa-home {
                                    font-size: 1.2rem;
                                    // color: $color-navbar;
                                }

                            }
                        }

                        li.nav-item.dropdown {
                            width: max-content;

                            i.jet-dropdown-arrow {
                                transform: rotate(0deg);
                                position: relative;
                                top: 2px;
                            }

                            ul.dropdown-menu {
                                margin-top: 0;
                                padding-bottom: 0;
                                padding-top: 0;
                                width: 14rem;
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                position: absolute;
                                right: 0px;
                                top: 45px;
                                text-align: right;

                                li.list-item {
                                    outline: 0;
                                    position: relative;

                                    &:hover>a {
                                        background-color: $color-navbar;
                                        color: $color-orange-light;
                                    }

                                    a.dropdown-item {
                                        font-size: 90%;
                                        padding-right: .75rem;


                                        i.jet-dropdown-arrow {
                                            transform: rotate(0deg);
                                        }
                                    }

                                    ul.dropdown-menu#sub-menu-1 {
                                        li.dropdown-item {
                                            padding: 0;
                                            outline: 0;

                                            &:hover>a {
                                                background-color: $color-navbar;
                                                color: $color-orange-light;
                                            }

                                            a.dropdown-item {
                                                font-size: 90%;

                                                i.jet-dropdown-arrow {
                                                    transform: rotate(0deg);
                                                }

                                                padding-right: .75rem;
                                            }
                                        }
                                    }

                                }
                            }

                            a.nav-link {
                                // color: #fff;
                                padding-top: .8rem;
                                padding-bottom: .7rem;
                                cursor: pointer;
                            }
                        }

                        // --------
                        li.nav-item.dropdown.show {
                            i.jet-dropdown-arrow {
                                transform: rotate(180deg);
                            }

                            li.list-item.dropdown {
                                ul#sub-menu-1 {
                                    display: none;
                                }
                            }
                        }

                        .fa {
                            transition: .3s transform ease-in-out;
                        }
                    }
                }

                img.logo {
                    width: 65px;
                    height: 100%;
                }
            }
        }

        div.navbar-left {
            img.logo {
                width: 65px;
                height: 100%;
            }
        }
    }

}

section.contents {
    width: 100%;
    margin-bottom: 1rem;
    font-family: "IRANSans";

    section.main-content.container-fluid {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        div.section-title {
            background-color: rgba($color:$color-navbar, $alpha: 1.0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            width: 100%;

            h3.h3 {
                font-size: 2.6rem;
                text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);

            }

            h4.text-muted.lead {
                font-size: 85%;
            }
        }

        div.card {
            width: 100%;
            height: 50vh;
            margin: 0 1rem;
            padding: 0;
            // box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;


            div.img-gallery.owl-carousel.owl-theme.owl-rtl.owl-loaded.owl-drag {
                display: flex;
                width: 100%;
                height: 100%;
                margin: 0;

                div.owl-stage-outer {
                    width: 100%;

                    div.owl-stage {
                        width: 90%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div.owl-item {
                            transform: scale(.8);
                            box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.7);
                            transition: all 0.3s ease-in;
                            // margin: .1rem auto;
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            height: 70%;

                            img.image-slide {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        div.owl-item.center {
                            transform: scale(1);
                            box-shadow: 0px 9px 32px 9px rgba(0, 0, 0, 0.15);
                            margin-top: 0;
                            // margin-bottom: 1rem;
                            margin: 0;
                            height: 80%;

                            img.image-slide {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }


                div.owl-dots {
                    width: 100%;
                    height: 25%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: absolute;
                    bottom: -1rem;

                    button.owl-dot {
                        background: $color-dots;
                        width: 35px;
                        height: 8px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in;
                        margin: 0 8px;
                        outline: none;

                        &:hover {
                            background: $color-orange-medium;
                        }
                    }

                    button.owl-dot.active {
                        box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
                        background: $color-orange-medium;
                    }
                }

            }


        }

    }

    section.section-3 {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        div.counters {
            background-color: rgba($color: $color-header, $alpha: 1.0);
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;

            div.milestone_col {
                display: flex;
                align-items: center;
                justify-content: center;

                div.milestone {
                    width: 100%;

                    div.milestone_icon {
                        display: inline-block;
                        height: 81px;
                        width: 81px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    div.milestone_counter {
                        font-size: 200%;
                        font-weight: 500;
                        color: #FFFFFF;
                        line-height: 0.75;
                        margin-top: 2rem;
                    }

                    div.milestone_text {
                        font-weight: 500;
                        color: #FFFFFF;
                        margin-top: 1.5rem;
                        line-height: 0.75;
                    }
                }
            }
        }
    }

}

footer.footer {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
    font-family: "IRANSans";

    div.row {
        width: 100%;
        margin: 0;

        div.footer-columns {
            width: 25%;
            display: flex;
            align-items: center;
            flex-direction: column;

            div.logo_frame {
                display: flex;
                justify-content: center;
                width: 100%;

                img.home_logo {
                    width: 60px;
                    height: 50px;
                }
            }


            div.footer-links {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                div.footer-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 85%;
                    color: rgba($color: $color-header, $alpha: 1.0);
                    margin-bottom: 1rem;

                }

                // div.footer-title.footer-title-text {
                //     position: relative;
                //     top: 1rem;
                // }

                span.description {
                    text-align: right;
                    text-justify: inter-ideograph;
                    width: 100%;
                    height: 100%;
                    font-size: 80%;
                    line-height: 1.8rem;
                    color: rgba($color: $color-text, $alpha: .9);
                }

            }

            a.footer-link {
                display: flex;
                font-size: 80%;
                justify-content: space-between;
                align-items: center;
                color: rgba($color: $color-text, $alpha: .9);
                text-decoration: none;
                line-height: 1.8rem;

                &:focus {
                    outline: none;
                }

                &:hover {
                    color: rgba($color: $color-orange-dark, $alpha: 1.0);
                }

                i {
                    color: rgba($color: $color-orange-dark, $alpha: 1.0);
                    font-size: 1rem;
                    margin-left: .5rem;
                }

                span {
                    color: rgba($color: $color-text, $alpha: .9);
                }

            }
        }
    }
}